@import "./variables";

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  margin-top: 0px !important;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: #161616;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: $color-white;
}

label{
  margin-bottom: 3px;
  color: #F1F1F1;
}

input, textarea, option, select{
  padding: 5px;
  background-color: #F1F1F1;
  border: none;
}

input{
  height: 20px;
  margin-bottom: 20px;
}

select#statut{
  height: 20px;
  margin-bottom: 20px;
}

textarea{
  height: 150px;
  resize: none;
}
