@import "./main";

.hide{
    display: none;
}

.add-client-modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(196, 196, 196, 0.65);
}

.close{
    @include close-modal;
}

.fiche-technique{
    width: 712px;
    height: 693px;
    margin: auto;
    background-color: #161616;
    border-radius: 15px;
}

.fiche-technique-titre-add{
    font-family: Merriweather;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    background-color: rgba(241, 241, 241, 0.08);
    padding: 10px 10% 10px 11%;
    margin: 20px 0;
}

.form-container{
    width: 80%;
    margin: auto;
    form{
        width: 100%;
    }

    &-section{
        width: 100%;
        justify-content: center;
    }
}

.container-textarea{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0px 10px 15px 10px;
    margin-top: -10px;
    textarea{
         height: 150px;
    }
}

.form-add-client-section{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.textarea-reparations{
    textarea{
        height: 80px;
    }
}

.form__button{
    text-align: right;
    margin: 5px 10px 0 0;

    input{
        padding: 5px 10px;
    }
    
}
