.hide{
    display: none;
}

.add-client-modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(196, 196, 196, 0.65);
}

.close{
    position: relative;
    left: 20px;
    top: 20px;
    margin-bottom: 15px;
}

.fiche-technique{
    width: 712px;
    height: 693px;
    margin: auto;
    background-color: #161616;
    border-radius: 15px;

    h2{
        font-family: Merriweather;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 45px;
        letter-spacing: 0em;
        text-align: left;
        background-color: rgba(241, 241, 241, 0.08);
        padding: 10px 0 10px 40px;
        margin: 20px 0;
    }
}

.form-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    form{
        width: 100%;
        margin: 0 30px;
    }

    &-section{
        width: 100%;
        justify-content: center;
    }
}

.contaimer-textarea{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    margin-top: -20px;
    textarea{
         height: 150px;
    }
}

.form-add-client-section{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;

   input{
        height: 20px;
        margin-bottom: 20px;
    }
}

.textarea-reparations{
    textarea{
        height: 80px;
    }
}

.form__button{
    text-align: right;
    margin: 5px 10px 0 0;

    input{
        padding: 5px 10px;
    }
    
}
